.map {
	height: 500px;
}

#my-header {
	z-index: 2;
}

.labels {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	color: white;
	padding: 4px
}

.modify-bus {
	border-style: solid;
	color: #B01000;
}

.step-query {
	color: #D00800;
}