.map {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0;
}

#my-header {
	z-index: 2;
}

.labels {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	color: white;
	padding: 4px
}

/* Adjust the width of the left reveal menu. */
#one .ui-panel {
	width: 50em;
}
#one .ui-panel-closed {
	width: 0;
}
#one .ui-panel-page-content-position-left,
.ui-panel-dismiss-open.ui-panel-dismiss-position-left {
	left: 50em;
	right: -50em;
}
#one .ui-panel-animate.ui-panel-page-content-position-left.ui-panel-page-content-display-reveal {
	left: 0;
	right: 0;
	-webkit-transform: translate3d(50em,0,0);
	-moz-transform: translate3d(50em,0,0);
	transform: translate3d(50em,0,0);
}

/* Reveal panel shadow on top of the listview menu (only to be used if you don't use fixed toolbars) */
#one .ui-panel-display-reveal {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
#one .ui-panel-page-content-position-left {
	-webkit-box-shadow: -5px 0px 5px rgba(0,0,0,.50);
	-moz-box-shadow: -5px 0px 5px rgba(0,0,0,.50);
	box-shadow: -5px 0px 5px rgba(0,0,0,.15);
}

@media ( min-width: 35em ) {

	/* wrap on wide viewports once open */

	.ui-panel-page-content-open.ui-panel-page-content-position-left {
		margin-right: 17em;
	}
	.ui-panel-page-content-open.ui-panel-page-content-position-right {
		margin-left: 17em;
	}
	.ui-panel-page-content-open {
		width: auto;
	}

	/* disable "dismiss" on wide viewports */
	.ui-panel-dismiss {
		display: none;
	}

	/* same as the above but for panels with display mode "push" only */

	.ui-panel-page-content-open.ui-panel-page-content-position-left.ui-panel-page-content-display-push {
		margin-right: 17em;
	}
	.ui-panel-page-content-open.ui-panel-page-content-position-right.ui-panel-page-content-display-push {
		margin-left: 17em;
	}
	.ui-panel-page-content-open.ui-panel-page-content-display-push {
		width: auto;
	}

	.ui-panel-dismiss-display-push {
		display: none;
	}
}