.map {
	position: absolute;
	padding: 0;
}

#my-header {
	z-index: 2;
}

.labels {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	color: white;
	padding: 4px
}

/* stack all grids below 40em (640px) */
@media all and (max-width: 35em) {
	.ui-block-a,
	.ui-block-b,
	.ui-block-c,
	.ui-block-d,
	.ui-block-e {
		width: 100%;
		float: none;
	}
}